//META{"name":"Firewatch","description":"Stable Release","author":"WillTh3Pill","version":"1.0"}*//{}

@import url(https://raw.githack.com/WillTh3Pill/Firewatch-discord-theme/master/Firewatch/code.css);

/* Background */ /* Default BG: https://images8.alphacoders.com/679/thumb-1920-679478.jpg */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .appMount-3VJmYg {
    width:100%;
    height:100%;
    background:url('https://i.imgur.com/Fiue3wY.png')center center no-repeat;  /* Change this URL to change the Wallpaper */
}
